doctype html
html(lang = "en")
  head
    title= PageTitle
  body
    h1 Jade - node template engine
    h2 This is #{name} home page
    p It's a test view
    p Jade is a terse and simple templating language with a 
      strong focus on performance and powerful features.